.desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-group-wrapper {
 
  overflow: hidden;
  width: 1440px;
  height: 1024px;
}

.desktop .overlap-group {
  position: relative;
  width: 1493px;
  height: 929px;
  left: -47px;
}

.desktop .colorful-backgrounds {
  position: absolute;
  width: 1440px;
  height: 929px;
  top: 0;
  left: 47px;
  object-fit: cover;
}

.desktop .frame {
  top: 217px;
  left: 180px;
  position: absolute;
  width: 516px;
  height: 108px;
  background-color: #706999;
  border-radius: 40px;
}

.desktop .div {
  top: 357px;
  left: 180px;
  position: absolute;
  width: 516px;
  height: 108px;
  background-color: #706999;
  border-radius: 40px;
}

.desktop .frame-2 {
  top: 357px;
  left: 797px;
  position: absolute;
  width: 516px;
  height: 108px;
  background-color: #706999;
  border-radius: 40px;
}

.desktop .frame-3 {
  top: 512px;
  left: 797px;
  position: absolute;
  width: 516px;
  height: 108px;
  background-color: #706999;
  border-radius: 40px;
}

.desktop .frame-4 {
  top: 652px;
  left: 797px;
  position: absolute;
  width: 516px;
  height: 108px;
  background-color: #706999;
  border-radius: 40px;
}

.desktop .frame-5 {
  top: 497px;
  left: 180px;
  position: absolute;
  width: 516px;
  height: 108px;
  background-color: #706999;
  border-radius: 40px;
}

.desktop .frame-6 {
  top: 637px;
  left: 180px;
  position: absolute;
  width: 516px;
  height: 108px;
  background-color: #706999;
  border-radius: 40px;
}

.desktop .frame-7 {
  top: 217px;
  left: 797px;
  position: absolute;
  width: 516px;
  height: 108px;
  background-color: #706999;
  border-radius: 40px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 876px;
  top: 247px;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  top: 247px;
  left: 617px;
  position: absolute;
  width: 876px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  top: 387px;
  left: 617px;
  position: absolute;
  width: 876px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  top: 542px;
  left: 617px;
  position: absolute;
  width: 876px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  top: 697px;
  left: 617px;
  position: absolute;
  width: 876px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  top: 387px;
  left: 0;
  position: absolute;
  width: 876px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  top: 527px;
  left: 0;
  position: absolute;
  width: 876px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  top: 667px;
  left: 0;
  position: absolute;
  width: 876px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
