
.desktopNi {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktopNi .div {
   
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktopNi .overlap-group {
    position: absolute;
    width: 1440px;
    height: 872px;
    top: 0;
    left: 0;
    
    background-size: cover;
    background-position: 50% 50%;
  }
  /* Example styles in Nisrine.css or your styles file */
.instagram, .phone-fill, .subtract {
    color: #000000; /* Set the desired color */
  }
  
  .desktopNi .ellipse {
    position: absolute;
    width: 91px;
    height: 91px;
    top: 143px;
    left: 56px;
    object-fit: cover;
  }
  
  .desktopNi .AIDA-nisrine {
    position: absolute;
    width: 677px;
    top: 174px;
    left: 384px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktopNi .overlap {
    position: absolute;
    width: 293px;
    height: 37px;
    top: 556px;
    left: 365px;
    background-color: #539ed23d;
    border-radius: 20px;
  }
  
  .desktopNi .text-wrapper {
    position: absolute;
    width: 286px;
    top: 8px;
    left: 7px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktopNi .overlap-2 {
    position: absolute;
    width: 320px;
    height: 47px;
    top: 616px;
    left: 364px;
  }
  
  .desktopNi .rectangle {
    position: absolute;
    width: 293px;
    height: 37px;
    top: 0;
    left: 0;
    background-color: #539ed23d;
    border-radius: 20px;
  }
  
  .desktopNi .text-wrapper-2 {
    position: absolute;
    width: 242px;
    top: 0;
    left: 78px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktopNi .overlap-3 {
    position: absolute;
    width: 316px;
    height: 37px;
    top: 675px;
    left: 361px;
  }
  
  .desktopNi .text-wrapper-3 {
    position: absolute;
    width: 235px;
    top: 3px;
    left: 81px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktopNi .instagram {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 617px;
    left: 315px;
  }
  
  .desktopNi .phone-fill {
    position: absolute;
    width: 11px;
    height: 10px;
    top: 777px;
    left: 361px;
  }
  
  .desktopNi .subtract {
    position: absolute;
    width: 36px;
    height: 30px;
    top: 556px;
    left: 315px;
  }
  
  .desktopNi .text-wrapper-4 {
    width: 361px;
    top: 271px;
    left: 261px;
    position: absolute;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #1651b2;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktopNi .text-wrapper-5 {
    width: 462px;
    top: 261px;
    left: 808px;
    position: absolute;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #1651b2;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktopNi .overlap-4 {
    position: absolute;
    width: 926px;
    height: 190px;
    top: 328px;
    left: 297px;
  }
  
  .desktopNi .text-wrapper-6 {
    position: absolute;
    width: 362px;
    top: 155px;
    left: 233px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #1651b2;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktopNi .nom-complet-AIDA {
    position: absolute;
    width: 361px;
    top: 0;
    left: 0;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktopNi .span {
    font-weight: 800;
  }
  
  .desktopNi .text-wrapper-7 {
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
  }
  
  .desktopNi .universit-universit {
    position: absolute;
    width: 361px;
    top: 0;
    left: 565px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktopNi .vector {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 676px;
    left: 315px;
  }
  
  .desktopNi .message-fill {
    position: absolute;
    width: 72px;
    height: 37px;
    top: 987px;
    left: 622px;
  }